<div class="m-5 pt-3 p-5"  style="color:aliceblue">
  <div class="container">
    <h2 class=>Form Cliente</h2>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" (submit)="cSalva(form)">

                <div class="row">
                  <div class="mb-3 col-6">
                      <label class="form-label">Ragione Sociale*</label>
                      <input class="form-control" formControlName="ragioneSociale" type="text" id="ragioneSociale"
                          autocomplete="false">
                  </div>
                  <div class="mb-3 col-6">
                      <label class="form-label">Partita Iva*</label>
                      <input class="form-control" formControlName="partitaIva" type="text" id="partitaIva"
                          autocomplete="false">
                  </div>
                </div>


                <div class="row">
                  <div class="mb-3 col-6">
                      <label class="form-label">Email*</label>
                      <input class="form-control" formControlName="email" type="email" id="email" autocomplete="false">
                  </div>

                  <div class="mb-3 col-6">
                      <label class="form-label">Tipo Cliente*</label>
                      <select class="form-control" formControlName="tipoCliente" id="tipoCliente" *ngIf="tipiclienti">
                          <option value=""></option>
                          <option *ngFor="let tc of tipiclienti" value="{{ tc }}">{{ tc }}</option>
                      </select>
                  </div>
                </div>


                <div class="row">
                  <div class="mb-3 col-6">
                      <label class="form-label">Pec</label>
                      <input class="form-control" formControlName="pec" type="email" id="pec" autocomplete="false">
                  </div>
                  <div class="mb-3 col-6">
                      <label class="form-label">Telefono</label>
                      <input class="form-control" formControlName="telefono" type="tel" id="telefono"
                          autocomplete="false">
                  </div>
                </div>

                <div> <hr> </div>

                <div class="row">
                  <div class="mb-3 col-6">
                      <label class="form-label">Nome Contatto</label>
                      <input class="form-control" formControlName="nomeContatto" type="text" id="nomeContatto"
                          autocomplete="false">
                  </div>
                  <div class="mb-3 col-6">
                      <label class="form-label">Cognome Contatto</label>
                      <input class="form-control" formControlName="cognomeContatto" type="text" id="cognomeContatto"
                          autocomplete="false">
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-6">
                      <label class="form-label">Telefono Contatto</label>
                      <input class="form-control" formControlName="telefonoContatto" type="tel" id="telefonoContatto"
                          autocomplete="false">
                  </div>
                  <div class="mb-3 col-6">
                      <label class="form-label">Email Contatto*</label>
                      <input class="form-control" formControlName="emailContatto" type="email" id="emailContatto"
                          autocomplete="false">
                  </div>
                </div>

                <div> <hr> </div>

                <div formGroupName="indirizzoSedeOperativa">

                    <div class="row">
                      <div class="mb-3 col-6">
                          <label class="form-label">Via</label>
                          <input class="form-control" formControlName="via" type="text" id="via" autocomplete="false">
                      </div>

                      <div class="mb-3 col-6">
                          <label class="form-label">Civico</label>
                          <input class="form-control" formControlName="civico" type="text" id="civico"
                              autocomplete="false">
                      </div>
                    </div>

                    <div class="row">
                      <div class="mb-3 col-6">
                          <label class="form-label">Cap</label>
                          <input class="form-control" formControlName="cap" type="text" id="cap" autocomplete="false">
                      </div>

                      <div class="mb-3 col-6">
                          <label class="form-label">Localita</label>
                          <input class="form-control" formControlName="localita" type="text" id="localita"
                              autocomplete="false">
                      </div>
                    </div>


                    <div formGroupName="comune">

                            <div class="row">
                              <div class="mb-3 col-6">
                                  <label class="form-label">Comune*</label>
                                  <select class="form-control" formControlName="id" id="comune" *ngIf="comuni">
                                      <option value=""></option>
                                      <option *ngFor="let c of comuni"
                                          [attr.selected]="cliente && c.id === cliente.indirizzoSedeOperativa.comune.id ? true : null"
                                          value = "{{ c.id }}" >{{ c.nome }}</option>
                                  </select>
                              </div>


                                  <div class="mb-3 col-6">
                                      <label class="form-label">Provincia</label>
                                      <select class="form-control" formControlName="provincia" id="provincia"
                                          *ngIf="province">
                                          <option value=""></option>
                                          <option *ngFor="let p of province"
                                              [attr.selected]="cliente && p.id === cliente.indirizzoSedeOperativa.comune.provincia.id ? true : null"
                                              value="{{ p.id }}">{{ p.nome }}</option>
                                      </select>
                                  </div>
                            </div>


                    </div>

                    </div>

                <div style="margin-top:20px">
                    <button type="submit" class="btn btn-lg btn-outline-light" [disabled]="!form.valid">Salva</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
