<form #form="ngForm" (ngSubmit)="login(form)" >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout>
        <div>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Username"
              type="text"
              #username="ngModel"
              ngModel
              name="username"
              required
            />
            <mat-error *ngIf="username.invalid">
              Email <strong>Obbligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout>
        <div>
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              #password="ngModel"
              placeholder="Password"
              ngModel
              name="password"
              required
            />
            <mat-error *ngIf="password.invalid">
              Password <strong>Obbligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" >Accedi</button>
    </mat-card-actions>
  </mat-card>
</form>
<div fxLayout>
  <span> oppure &nbsp;&nbsp;</span>  <a [routerLink]="['/register']"style="color: white;">Registrati</a>
</div>

