table {
  width: 100%;
}
.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

#modifica{
  background-color: rgba(176, 17, 86, 0.969);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#cancella{
  background-color: rgba(176, 17, 86, 0.969);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
