/*.spacer1{
  flex: 1 1 auto;
}*/
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(176, 17, 86, 0.969);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #3f51b53c;}

.dropdown:hover .dropdown-content {
  display: block;}

  .navbar-custom{
    background-color: rgba(176, 17, 86, 0.969);
  }

  .navbar-nav .btn {

    color: white;
  }
