

<div class="m-5 pt-5 pb-5">
  <h1 class="mt-1"  style="color: rgba(176, 17, 86, 0.969); font-weight: bold; font-family: 'Gruppo', cursive;">Lista Clienti</h1>

  <table mat-table [dataSource]="dataSource.content">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="color: rgba(176, 17, 86, 0.969); font-weight: bold"> id </th>
      <td mat-cell *matCellDef="let element" style="color: rgba(176, 17, 86, 0.969); font-weight: bold"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: bold"> Partita Iva</th>
      <td mat-cell *matCellDef="let element"> {{element.partitaIva}} </td>
    </ng-container>

    <ng-container matColumnDef="pec">
      <th mat-header-cell *matHeaderCellDef style="color: rgb(188, 185, 185); font-weight: bold"> Pec </th>
      <td mat-cell *matCellDef="let element" style="color: rgb(188, 185, 185);"> {{element.pec}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: bold"> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeEcognome">
      <th mat-header-cell *matHeaderCellDef style="color: rgb(188, 185, 185); font-weight: bold"> Nome e Cognome</th>
      <td mat-cell *matCellDef="let element" style="color: rgb(188, 185, 185);"> {{element.nomeContatto}} {{element.cognomeContatto}} </td>
    </ng-container>

    <ng-container matColumnDef="telefonoContatto">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: bold"> Telefono Contatto </th>
      <td mat-cell *matCellDef="let element"> {{element.telefonoContatto}} </td>
    </ng-container>

    <ng-container matColumnDef="ragioneSociale">
      <th mat-header-cell *matHeaderCellDef style="color: rgb(188, 185, 185); font-weight: bold"> Ragione Sociale </th>
      <td mat-cell *matCellDef="let element" style="color: rgb(188, 185, 185); "> {{element.ragioneSociale}} </td>
    </ng-container>

    <ng-container matColumnDef="gestioneCliente">
      <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: bold"> Gestione Cliente </th>
      <td mat-cell *matCellDef="let element" >
        <button [routerLink]="['/nuova-fattura', element.id ]" routerLinkActive="router-link-active" class="me-3" id="nuovaFattura"  >Nuova Fattura </button>
        <button [routerLink]="['/fatture/cliente', element.id]" routerLinkActive="router-link-active" class="me-3 " id="dettagliFattura"> Dettagli Fatture</button>
        <button [routerLink]="['/form-cliente', element.id]" routerLinkActive="router-link-active" class="me-3"id="modifica">Modifica</button>
        <button (click)="cancellaCliente(element.id)" id="cancella">Cancella</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<mat-paginator
[length]="dataSource.totalElements"
[pageSize]="dataSource.pageable.pageSize"
[pageSizeOptions]="[5,10,15,20]"
(page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
</div>
