

<div class="m-5 pt-5 pb-5">
  <h1 class="text-white">Lista Clienti</h1>

  <table mat-table [dataSource]="dataSource.content">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell *matHeaderCellDef> Partita Iva</th>
      <td mat-cell *matCellDef="let element"> {{element.partitaIva}} </td>
    </ng-container>

    <ng-container matColumnDef="pec">
      <th mat-header-cell *matHeaderCellDef> Pec </th>
      <td mat-cell *matCellDef="let element"> {{element.pec}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeEcognome">
      <th mat-header-cell *matHeaderCellDef> Nome e Cognome</th>
      <td mat-cell *matCellDef="let element"> {{element.nomeContatto}} {{element.cognomeContatto}} </td>
    </ng-container>

    <ng-container matColumnDef="telefonoContatto">
      <th mat-header-cell *matHeaderCellDef> Telefono Contatto </th>
      <td mat-cell *matCellDef="let element"> {{element.telefonoContatto}} </td>
    </ng-container>

    <ng-container matColumnDef="ragioneSociale">
      <th mat-header-cell *matHeaderCellDef> Ragione Sociale </th>
      <td mat-cell *matCellDef="let element"> {{element.ragioneSociale}} </td>
    </ng-container>

    <ng-container matColumnDef="gestioneCliente">
      <th mat-header-cell *matHeaderCellDef> Gestione Cliente </th>
      <td mat-cell *matCellDef="let element" >
        <button [routerLink]="['/nuova-fattura', element.id ]" routerLinkActive="router-link-active" class="me-3" >Nuova Fattura </button>
        <button [routerLink]="['/fatture/cliente', element.id]" routerLinkActive="router-link-active" class="me-3"> Dettagli Fatture</button>
        <button [routerLink]="['/form-cliente', element.id]" routerLinkActive="router-link-active" class="me-3">Modifica</button>
        <button (click)="cancellaCliente(element.id)">Cancella</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<mat-paginator
[length]="dataSource.totalElements"
[pageSize]="dataSource.pageable.pageSize"
[pageSizeOptions]="[5,10,15,20]"
(page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
</div>
