table {
  width: 100%;
}

#nuovaFattura{
  background-color: rgba(176, 17, 86, 0.969);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#dettagliFattura{
  background-color: rgba(176, 17, 86, 0.969);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: white;
}

#modifica{
  background-color: rgba(176, 17, 86, 0.969);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#cancella{
  background-color:rgba(176, 17, 86, 0.969);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

