/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Press+Start+2P&family=Roboto+Mono:wght@100&display=swap');

/*
    font-family: 'Gruppo', cursive;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Roboto Mono', monospace;
 */

 


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-typography.mat-app-background{
  background: black;

}

.pagination li{
  cursor: pointer;
}

.active-pagination {
  background-color: lightgray;
}

.cursor-disabled {
  cursor: no-drop;
  pointer-events: visible;
}

.dropdown{
  cursor: pointer;
}

